body {
	background-color: #222;
	color: white;
	font-family: sans-serif;
}

#app {
	width: 720px;
	margin: 0 auto;
}

.controls {
    margin-top: 10px;
    text-align: center;
}

.controls button {
    margin: 0 5px;
    padding: 8px 16px;
    font-size: 14px;
}

.button {
	background-color: #606060;
	border: none;
	color: white;
	padding: 10px 32px;
	font-size: 16px;
	margin: 4px 2px;
	cursor: pointer;
}

#canvas-container {
	margin-top: 20px;
}

#canvas {
	background: #000;
	display: block;
	border: 1px solid #333;
}
